{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block javascripts %}
  {{ encore_entry_script_tags('admin') }}
  {{ parent() }}
{% endblock %}
