<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {% block stylesheets %}{% endblock %}

  <title>{% block title %}{% endblock %}</title>
</head>
<body class="{% block body_class %}{% endblock %}">
{% block body %}
  {% block page_content %}{% endblock %}
{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
