<nav class="navbar navbar-top navbar-expand-md navbar-dark bg-gradient-primary" id="navbar-main">
  <div class="container-fluid">
    <!-- Brand -->
    <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="{{ path('app_doc_home', { projectSlug: page.project.slug, versionName: page.version.name, pageSlug: page.slug }) }}">
      {{ page.project.name }}
    </a>
    <!-- User -->
    <ul class="navbar-nav align-items-center d-none d-md-flex">
      <li class="nav-item dropdown">
        <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div class="media align-items-center">
            <div class="media-body ml-2 d-none d-lg-block">
              <span class="mb-0 text-sm font-weight-bold">Projects</span>
            </div>
          </div>
        </a>
        <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
          {% for project in projects %}
            <a href="#" class="dropdown-item">
              {{ project.name }}
            </a>
          {% endfor %}
        </div>
      </li>
    </ul>
  </div>
</nav>
