{% extends 'front/documentation/layout.html.twig' %}

{% block page_content %}
  <div class="card shadow">
    <div class="card-header">
      <h1 class="mb-0">{{ page.title }}</h1>
    </div>
    <div class="card-body">
      {{ page.content|markdown }}
    </div>
  </div>
{% endblock %}
