{% extends 'front/layout.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('documentation') }}
{% endblock %}

{% block body %}
  {% include 'front/documentation/_navbar.html.twig' %}
  <div class="main-content">
    {% include 'front/documentation/_header.html.twig' %}
    <div class="container-fluid pt-100">
      {% block page_content %}{% endblock %}
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  {{ encore_entry_script_tags('documentation') }}
{% endblock %}
